@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?d28voc');
  src:url('fonts/icomoon.eot?d28voc#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?d28voc') format('truetype'),
    url('fonts/icomoon.woff?d28voc') format('woff'),
    url('fonts/icomoon.svg?d28voc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-home:before {
  content: "\e800";
}
.icon-quill:before {
  content: "\e801";
}
.icon-camera:before {
  content: "\e802";
}
.icon-icon-tags:before {
  content: "\e803";
}
.icon-qrcode:before {
  content: "\e804";
}
.icon-bubbles3:before {
  content: "\e805";
}
.icon-search:before {
  content: "\e806";
}
.icon-cog:before {
  content: "\e807";
}
.icon-meter:before {
  content: "\e808";
}
.icon-clipboard:before {
  content: "\e809";
}
.icon-icon-archives:before {
  content: "\e80a";
}
.icon-menu:before {
  content: "\e80b";
}
.icon-filter:before {
  content: "\e80c";
}
.icon-icon-about:before {
  content: "\e80d";
}
.icon-twitch:before {
  content: "\e80e";
}
.icon-lanyrd:before {
  content: "\e80f";
}
.icon-flickr4:before {
  content: "\e810";
}
.icon-github:before {
  content: "\e811";
}
.icon-github2:before {
  content: "\e812";
}
.icon-icon-heart:before {
  content: "\e813";
}
.icon-github5:before {
  content: "\e814";
}
.icon-icon-external-link:before {
  content: "\e815";
}
.icon-icon-feed:before {
  content: "\e816";
}
.icon-icon-logo:before {
  content: "\e817";
}
.icon-safari:before {
  content: "\e818";
}

